@import url(./css/header.css);
@import url(./css/menu.css);
@import url(./css/img-inicial.css);
@import url(./css/img-2.css);

@font-face {
    font-family: "otica";
    src: url(./assets/fontes/PlayfairDisplay-Italic-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;

    height: 100vw;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

main{
    width: 100%;
    margin: 0%;
}
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* --------------------------header------------------------------------- */

/* --------------------------header------------------------------------- */



/* ------------------------menu----------------------- */


/* ------------------------menu----------------------- */

/* --------------------main---------------- */




